//! **************************************************************************
// Written by: Map P.20131013 on Fri Jul 01 12:50:56 2022
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

